@import "common.scss";
@import "_mixin.scss";
.wrapper {
    width: 100%;
    height: 100%;
    @include box_flex;
    @include direction(column);
}

header {
    width: 100%;
    height: pxTorem(44px);
    @include box_flex;
    @include justify(space-between);
    @include align;
    font-size: pxTorem(18px);
    span:first-child {
        margin-left: pxTorem(15px);
    }
    span:last-child {
        img {
            width: pxTorem(80px);
        }
        margin-right: pxTorem(15px);
    }
}

section {
    width: 100%;
    flex: 1;
    .inp {
        width: 100%;
        height: pxTorem(30px);
        @include box_flex;
        input {
            width: 100%;
            border: solid 1px #ccc;
            border-radius: pxTorem(15px);
            padding-left: pxTorem(15px)
        }
    }
    .conter {
        width: 100%;
        height: pxTorem(150px);
        @include box_flex;
        flex-wrap: wrap;
        dl {
            width: 20%;
            height: pxTorem(65px);
            text-align: center;
            margin-top: pxTorem(5px);
            dd {
                img {
                    width: pxTorem(45px);
                    height: pxTorem(45px);
                }
            }
            dt {
                color: #ccc;
                padding-top: pxTorem(5px);
            }
        }
    }
}

footer {
    width: 100%;
    height: pxTorem(50px);
    @include box_flex;
    @include justify(space-around);
    @include align;
    border-top: 1px solid #ccc;
    padding-top: pxTorem(5px);
    box-sizing: border-box;
    dl {
        dt {
            text-align: center;
            img {
                width: pxTorem(20px);
            }
        }
        dd {
            font-size: pxTorem(14px);
        }
    }
}